.project
.pydevproject
.DS_Store
*.c
*.o
*.so
*.html
*.dat
*.txt
*.pickle
*.png
*.mp4
*__pycache__*
VoidFinder/python/voidfinder.egg-info/
VoidFinder/python/voidfinder/__pycache__/
VoidFinder/doc/debug_dir
VoidFinder/doc/profiling
VoidFinder/data/
VoidFinder/legacy/*
WorkingDir/
.settings/
