.project
.pydevproject
.DS_Store
*.c
*.o
*.so
*.html
*.dat
*.txt
*.pickle
*.png
*.mp4
*__pycache__*
VoidFinder/vast_voidfinder.egg-info/
VoidFinder/vast/voidfinder/__pycache__/
VoidFinder/build/
VoidFinder/dist/
WorkingDir/
.settings/
.ipynb_checkpoints/
